<!DOCTYPE html>
<html>
  <head>
    <title>Maketable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar">
      <!-- Your navbar content -->
      <!-- For example, a brand/logo -->
      <div class="navbar-brand">
        <%= link_to root_path do %>
          HOME
        <% end %>
      </div>
      </div>  

    <!-- Other navbar elements -->
    </nav>

    <div class="container">
      <!-- Yield the content from other views -->
      <%= yield %>
    </div>

  </body>
</html>